/*Variables Start*/
/*Variables End*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 1px) {
  /* line 13, ../sass/popup_wrapper.scss */
  .membership-popup-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
    z-index: 10000;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  /* line 26, ../sass/popup_wrapper.scss */
  .membership-popup {
    max-width: 300px;
    width: 300px;
    display: table;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border: 1px solid #cccccc;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border: 1px solid #cccccc;
  }
  /* line 46, ../sass/popup_wrapper.scss */
  .membership-popup .top-perspective-block {
    width: 90%;
    height: 100px;
    position: absolute;
    left: 5%;
    top: -101px;
    transform: perspective(200px) rotateX(25deg);
    box-shadow: 0 -10px 16px 4px rgba(0, 0, 0, 0.63);
    background-color: #FFFFFF;
    display: none;
  }
  /* line 57, ../sass/popup_wrapper.scss */
  .membership-popup .right-perspective-block {
    width: 100px;
    height: 90%;
    position: absolute;
    top: 5%;
    right: -101px;
    transform: perspective(200px) rotateY(25deg);
    box-shadow: 10px 0 16px 4px rgba(0, 0, 0, 0.63);
    background-color: #FFFFFF;
    display: none;
  }
  /* line 68, ../sass/popup_wrapper.scss */
  .membership-popup .bottom-perspective-block {
    width: 90%;
    height: 100px;
    position: absolute;
    bottom: -101px;
    transform: perspective(200px) rotateX(-25deg);
    left: 5%;
    box-shadow: 0 10px 16px 4px rgba(0, 0, 0, 0.63);
    background-color: #FFFFFF;
    display: none;
  }
  /* line 79, ../sass/popup_wrapper.scss */
  .membership-popup .left-perspective-block {
    width: 100px;
    height: 90%;
    position: absolute;
    top: 5%;
    left: -101px;
    transform: perspective(200px) rotateY(-25deg);
    box-shadow: -10px 0 16px 4px rgba(0, 0, 0, 0.63);
    background-color: #FFFFFF;
    display: none;
  }
  /* line 90, ../sass/popup_wrapper.scss */
  .membership-popup .popup-container {
    width: 100%;
    height: 100%;
    min-height: 200px;
    background: #fff url("../images/loader.gif") 50% 50% no-repeat;
    position: relative;
    z-index: 100;
  }
  /* line 98, ../sass/popup_wrapper.scss */
  .membership-popup .cancel {
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    background: transparent url(../images/popup_cancel.png) top left no-repeat;
  }
  /* line 107, ../sass/popup_wrapper.scss */
  .membership-popup iframe {
    min-height: 470px;
  }

  /* line 114, ../sass/popup_wrapper.scss */
  .mac-os .membership-popup .top-perspective-block {
    box-shadow: none;
  }
  /* line 117, ../sass/popup_wrapper.scss */
  .mac-os .membership-popup .right-perspective-block {
    box-shadow: none;
  }
  /* line 120, ../sass/popup_wrapper.scss */
  .mac-os .membership-popup .bottom-perspective-block {
    box-shadow: none;
  }
  /* line 123, ../sass/popup_wrapper.scss */
  .mac-os .membership-popup .left-perspective-block {
    box-shadow: none;
  }

  /* line 129, ../sass/popup_wrapper.scss */
  .membership-modal-overlay {
    opacity: 0;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* line 138, ../sass/popup_wrapper.scss */
  .membership-popup {
    max-width: 300px;
    width: 300px;
  }
  /* line 141, ../sass/popup_wrapper.scss */
  .membership-popup .cancel {
    top: 24px;
    right: 24px;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* line 151, ../sass/popup_wrapper.scss */
  .membership-popup {
    max-width: 500px;
    width: 500px;
    display: table;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border: 1px solid #cccccc;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border: 1px solid #cccccc;
  }
  /* line 171, ../sass/popup_wrapper.scss */
  .membership-popup .top-perspective-block {
    display: block;
  }
  /* line 174, ../sass/popup_wrapper.scss */
  .membership-popup .right-perspective-block {
    display: block;
  }
  /* line 177, ../sass/popup_wrapper.scss */
  .membership-popup .bottom-perspective-block {
    display: block;
  }
  /* line 180, ../sass/popup_wrapper.scss */
  .membership-popup .left-perspective-block {
    display: block;
  }
}
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/* Small Desktops */
/* Extra Large Devices, Wide Screens */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 214, ../sass/popup_wrapper.scss */
  .membership-popup .cancel {
    background: transparent url(../images/popup_cancel@2x.png) top left no-repeat;
    background-size: 100%;
  }
}

/*# sourceMappingURL=popup_wrapper.css.map */
